<div id="ActiveDash" style="display: none">
	<span id="Hi"></span>
	<span id="DashCourseListButton">
		<a href="/shoppingcart">Your Courses</a>
	</span>
	<span>Course Messages</span>
	<span>Grades</span>
	<span id="LogOut">
		<a href="javascript:">Log Out</a>
	</span>


</div>
