
<div id="CreateNewLogin" style="display: none">

<form id="CreateNewLoginForm">

	<p>
		<label for="newUsername">Enter desired username:</label>
		<input type="text" id="NewUsername">
		<label for="newPassword">Password:</label>
		<input type="text" id="NewPassword">
		<label for="newPasswordConfirm">Confirm password:</label>
		<input type="text" id="NewPasswordConfirm">
	</p>

	<p>
		<input type="submit" value="Submit">
	</p>

</form>
</div>
