<div id="LogInDash" style="display: none">

	<form id="studentLoginForm">

		<p>
			<label for="userName">User name:</label>
			<input type="text" id="userName">
			<label for="password">Password:</label>
			<input type="text" id="password">
		</p>

		<p>
			<input type="submit" value="Submit">
		</p>

	</form>
</div>
