<%
  layout('common/sfcc-layout');
  %>

<div class="pageHeading" id="thisUsersShoppingCart"></div>

<!-- <div id="thisUsersCourses">
	<ul id="UserCourseList"></ul>
</div> -->

<ul id="ListOfYourCourses"></ul>


<div id="ThisUsersCourseBox" class="really-cool-box">
		<span class="matchingCourseTitle"></span>
		<span class="theGuid"></span>
</div>



<script src="/public/student/shoppingcart.js"></script>