<%
  layout('common/sfcc-layout');
  %>

<div class="pageHeading" id="thisUsersShoppingCart"></div>

<div id="ThisUsersCourseBox" class="really-cool-box">
	<ul id="UserCourseList"></ul>
</div>

<script src="/public/student/shoppingcart.js"></script>