<%
 layout('common/sfcc-layout');
  %>

<span id="subjectTitlesBox">
  <ul class="listToLinks" id="subjectTitles">
   <% for (var i = 0; i < recordOfSubjects.length; i++) { %>
    <li>
     <a href="/coursecatalog/bysubject/<%= recordOfSubjects[i].subject_id %>">
      <%= recordOfSubjects[i].subject %>
     </a>
    </li>
   <% } %>
 </ul>
</span>

<% if (typeof recordOfCourses !== 'undefined') { %>

<span id="coursesInSubjectBox">
   <ul id="coursesInSubject">
 <% for (var k = 0; k < recordOfCourses.length; k++) { %>
 <li>
  <a href="/coursecatalog/bysubject/<%= recordOfCourses[k].title %>">
   <%= recordOfCourses[k].title %>
  </a>
 </li>
 <% } %>
 </ul>
 </span>
<% } %>

<div style="clear:both"></div>

<div id="courseQuickInfoBox" class="info-box" style="display: none">
 <span class="course-page-button"></span>
 <span style="clear:both"></span>
 <div>Course ID: <span class="guid-text"></span> </div>
 <div>Course level: <span class="course-level"></span></div>
 <ul class="staff-list">Faculty:</ul>
</div>

<!-- <script src="/public/course/coursecatalog.js"></script> -->